/* Page Styles */
body {
  max-width: 1440px;
  margin: auto auto !important;
}

.navbar-brand,
a.nav-link.active {
  font-family: 'Poppins', sans-serif !important;
}

.search-section {
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;

  /* background-size: 100% 100%; */
  background-size: cover !important;
  background-position: center !important;
}

.btn {
  padding-top: 0.15rem !important;
  font-size: 20px !important;
}

.bg-form {
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 0;
  border-radius: 5px;
}

.main-icon {
  font-size: 36px;
}

.form-control:focus {
  box-shadow: none !important;
}

.step-container {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
}

.section1,
.section2,
.section3 {
  min-height: 250px;
}

.bg-red {
  background-color: #e17e65 !important;
}

.bg-gray {
  background-color: #98a4a5 !important;
}

.bg-yellow {
  background-color: #509cd8 !important;
}

.bg-b {
  background-color: #000 !important;
}

.pic-round {
  border-radius: 200px;
}

.top-footer-options {
  display: flex;
  justify-content: space-around;
}

.suscribe-icon {
  font-size: 18px;
}

.sub-input {
  max-width: 320px !important;
}

ul {
  list-style: none;
}

/* Results */

.search-result {
  background-color: rgba(132, 132, 132, 0.33);
}

.card-img-top {
  height: 320px !important;
}

.card {
  height: 100% !important;
}

/* Course main */

.instructor-image {
  float: right;
}

.clearfix {
  overflow: auto;
  clear: right;
}
